@(entityBean: models.info.TAllowance)

    <link href="@routes.Assets.at("stylesheets/multi-select-metro.css")" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-toggle-buttons.css")" />
             <!-- BEGIN PAGE HEADER-->
				<div class="row-fluid" id="parkingtitle">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->
						<!-- END BEGIN STYLE CUSTOMIZER --> 

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">
							补贴设置 <small>用户补贴设置</small>
						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="/">主页</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="javascript:;">补贴设置</a></li>
							
						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->

				<div class="portlet box grey" id="userlist">

							<div class="portlet-title">

								<div class="caption"><i class="icon-money"></i>补贴设置</div>

								<div class="tools">
									<a href="javascript:;" class="reload"></a>
								</div>

							</div>

                   <div class="portlet-body form">
				
						<!-- BEGIN FORM-->
                       <form action="/w/allowanceuser/submit" method="POST" id="dataFormAllowance" class="horizontal-form">
                                   <div id="remotemessage"></div>
                                    <input type="hidden" id="allowanceId" name="allowanceId"  value="@entityBean.allowanceId">
                                    <input type="hidden" id="allowanceType" name="allowanceType"  value="@entityBean.allowanceType">
                                    <input type="hidden" id="isopen" name="isopen"  value="@entityBean.isopen">
                                    <input type="hidden" id="allowanceTypeValue" name="allowanceTypeValue"  value="@entityBean.allowanceTypeValue">
                                    <input type="hidden" id="allowanceTimer" name="allowanceTimer"  value="@entityBean.allowanceTimer">
                                    
												<div class="row-fluid">

													<div class="span6">

														<div class="control-group">

															<label class="control-label" for="firstName">补贴系统状态</label>

															<div class="controls">
															
															    <div class="success-toggle-button">
												                  <input type="checkbox" id="isopenCheckbox" name="isopenCheckbox" class="toggle" @if(entityBean.isopen==1){ checked } />
											                    </div>
															
													
															</div>
														</div>

													</div>

													<!--/span-->
													<div class="span6">

														<div style="display: none;" class="control-group">

															<label class="control-label" for="lastName">补贴金额(元)</label>

															<div class="controls">

																<input type="text" id="money" name="money" class="m-wrap span12" placeholder="元" value="@entityBean.money">

															</div>
                                                           <p class="help-block">单位：元。</p>
														</div>

													</div>

												</div>
												
												
												<!--/row-->
     
						                                        <div class="row-fluid">
																	<div class="span6 ">
																	  <div class="control-group">  													
																		<div class="controls">	
																			<label class="radio line">
																			<input type="radio" name="allowanceType" id="allowanceTypeXiandan" value="@entityBean.allowanceType" @if(entityBean.allowanceType==1){checked}/>
																				固定金额发放补贴
																			</label>  
																		</div>
						                                             </div>
											                                 <div class="control-group">
																				<div class="controls">
																						<input type="text" id="allowanceTypeValueXiandan" name="allowanceTypeValueXiandan" class="m-wrap span12" placeholder="元" value="@if(entityBean.allowanceType==1){ @entityBean.allowanceTypeValue }">
																				        <span class="help-block">每完成一笔订单，补贴用户的金额</span>
																				 </div>
																			</div>      
				
												 					   
																	</div>
																	
																	<div class="span6 ">
																	  <div class="control-group">  													
																		<div class="controls">	
																			<label class="radio line">
																			<input type="radio" name="allowanceType" id="allowanceTypeJiaoyiliang" value="@entityBean.allowanceType" @if(entityBean.allowanceType!=1){checked}/>
																				百分比发放补贴
																			</label>  
																		</div>
						                                             </div>
											                                 <div class="control-group">
																				<div class="controls">
																						<input type="text" id="allowanceTypeValueJiaoyiliang" name="allowanceTypeValueJiaoyiliang" class="m-wrap span12" placeholder="" value="@if(entityBean.allowanceType!=1){ @entityBean.allowanceTypeValue }">
																				         <span class="help-block">按照用户最后一次支付的百分比进行优惠</span>
																				</div>
																			</div>      
											 					   
																	</div>
																</div>
						
						          <div class="control-group">

										<label class="control-label">补贴发送时间点</label>

										<div class="controls">

											<select multiple="multiple" id="my_multi_select2" name="my_multi_select2[]">
												<optgroup label="按天发放d">
													<option value="d1">周一-d1</option>
													<option value="d2">周二-d2</option>
													<option value="d3">周三-d3</option>
													<option value="d4">周四-d4</option>
													<option value="d5">周五-d5</option>
													<option value="d6">周六-d6</option>
													<option value="d7">周天-d7</option>
												</optgroup>
												<optgroup label="按周发放w">
													<option value="w1">每月第一周-w1</option>
													<option value="w2">每月第二周-w2</option>
													<option value="w3">每月第三周-w3</option>
													<option value="w4">每月第四周-w4</option>
													<option value="w5">每月第五周-w5</option>
												</optgroup>
											</select>
											
											
						<div class="alert">

									<button class="close" data-dismiss="alert"></button>

									<strong>注意!</strong>这里有个显示的控件问题，当前生效的补贴发放时间点，右边框有些时候不能及时刷新出您保存的数据，请多次刷新，或者观察左边框，左边框中没有的时间点，即是当前设置的发放时间

								</div>
											<span class="help-block"></span>

										</div>

									</div>
												<!--/row--> 
												<div class="form-actions">
													<button type="button" id="submitallowancebutton" class="btn blue"><i class="icon-ok"></i>保存</button>
													<button type="button" class="btn">取消</button>
												</div>

				                    </form>

											<!-- END FORM--> 
							</div>
							


					  
						</div>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/select2.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/clockface.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.inputmask.bundle.min.js")"></script>   
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.input-ip-address-control-1.0.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.toggle.buttons.js")"></script>
	<script src="@routes.Assets.at("javascripts/jquery.multi-select.js")" src="media/js/"></script>	
	<script src="@routes.Assets.at("javascripts/jquery.form.js")" type="text/javascript" ></script>
	<script src="@routes.Assets.at("app/lib/allowance.js")" type="text/javascript" ></script>

	