@(entityBean: com.avaje.ebean.Page[models.info.TOrder], 
currentPage: Integer, pageSize: Integer,orderBy: String, city:String,filter:String)

             <!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->
						<!-- END BEGIN STYLE CUSTOMIZER --> 

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">
							订单数据 <small>车位订单</small>
						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="/">主页</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="javascript:;">
							  车位订单
							</a></li>
							
						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				
				
				<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box grey" id="orderlist">

							<div class="portlet-title">

								<div class="caption"><i class="icon-list"></i>
								车位订单
								
								</div>

								<div class="tools">
									<a href="javascript:;" class="reload"></a>
								</div>

							</div>

							<div class="portlet-body">
                               <div class="btn-group pull-left">    
								<div class="input-append">
								   <select class="small m-wrap" tabindex="1" id="city_search_order">
								                            <option value="" selected>请选择城市</option>
															<option value="沈阳">沈阳</option>
									</select>
									   <input class="m-wrap" size="10" id="key_search_order" value="@filter" type="text" placeholder="请输入订单关键字" /><button class="btn green"  id="searchOrderButton">搜索</button>
									</div>
						       </div>  
						 
						        <div class="btn-group pull-right">

										<button class="btn dropdown-toggle" data-toggle="dropdown">工具 <i class="icon-angle-down"></i>

										</button>

										<ul class="dropdown-menu pull-right">
										    <li><a href="javascript:;" id="button_exption_order">设置为异常订单</a></li>
										</ul>

									</div>
									
						</div>

                                <div id="dialog_confirm_order" title="确认设置异常订单吗?" class="hide">
									<p><span class="icon icon-warning-sign"></span>
										设置异常订单不可恢复，确认操作码?
									</p>
								</div>
								
								<table class="table table-striped table-bordered table-advance table-hover" id="sample_1_order">

									<thead>

										<tr>

											<th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1_order .checkboxes" /></th>

											<th class="hidden-480">ID</th>

											<th >订单名</th>
											
											<th class="hidden-480">订单城市</th>
											
											<th class="hidden-480">交易金额(元)</th>

											<th class="hidden-480">下单时间</th>

											<th >状态</th>

										</tr>

									</thead>

									<tbody>

                            @for(TOrder <- entityBean.getList) {
										<tr class="odd gradeX">
											<td><input type="checkbox" class="checkboxes" value="@TOrder.orderId" /></td>
											<td class="hidden-480">@TOrder.orderId</td>
											<td ><a class="ajaxify"  href="javascript:;" post="/w/order/@TOrder.orderId">@TOrder.orderName</a></td>
											<td class="hidden-480">@TOrder.orderCity</td>
											<td class="hidden-480">
											@if(TOrder.pay!=null&&TOrder.pay.length>0){
												     @for(TParkInfo_Py <- TOrder.pay) {
												          @TParkInfo_Py.payActu++
												     }
											     
											}
											</td>
											<td >@TOrder.orderDate.format("yyyy-MM-dd HH:mm:ss")</td>
											<td>
											@if(TOrder.orderStatus==1){
											    <span class="label label-success">开始</span>
											   }
											   @if(TOrder.orderStatus==2){
											    <span class="label label-inverse">完成</span>
											    }
											    @if(TOrder.orderStatus==3){
											    <span class="label label-warning">过期</span>
											    }
											     @if(TOrder.orderStatus==4){
											    <span class="label label-important">异常</span>
											    }
											</td>
										</tr>
                              }
										
									</tbody>

								</table>

					            <div id="pagination" class="pagination">
					               <ul>
						                @if(entityBean.hasPrev) {
						                    <li class="prev">
						                        <a class="ajaxify" href="javascript:;" post="/w/order?p=@(entityBean.getPageIndex - 1)&c=@city&&f=@filter ">&larr; 上一页</a>
						                    </li>
						                } else {
						                    <li class="prev disabled">
						                        <a>&larr; 上一页</a>
						                    </li>
						                }
						                <li class="current">
						                    <a>显示 @entityBean.getDisplayXtoYofZ(" to "," of ")</a>
						                </li>
						                @if(entityBean.hasNext) {
						                    <li class="next">
						                        <a class="ajaxify"  href="javascript:;" post="/w/order?p=@(entityBean.getPageIndex + 1)&c=@city&&f=@filter ">下一页 &rarr;</a>
						                    </li>
						                } else {
						                    <li class="next disabled">
						                        <a>下一页 &rarr;</a>
						                    </li>
						                }
					               </ul>
					             </div>

						</div>
						
	<script type="text/javascript" src="@routes.Assets.at("javascripts/select2.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dataTables.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/DT_bootstrap.js")"></script>				
	<script src="@routes.Assets.at("app/lib/orderlist.js")" type="text/javascript" ></script>
							