@(entityBean: com.avaje.ebean.Page[models.info.TParkInfo], 
currentPage: Integer, pageSize: Integer,orderBy: String, key:String,searchObj:String)

             <!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->
						<!-- END BEGIN STYLE CUSTOMIZER --> 

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">
							采集数据 <small>显示正在采集的数据</small>
						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="/">主页</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="javascript:;">正在采集的数据</a></li>
							
						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				
				
				<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box grey" id="packingcontent">

							<div class="portlet-title">

								<div class="caption"><i class="icon-map-marker"></i>正在采集的数据</div>

								<div class="tools">
									<a href="javascript:;" class="reload"></a>
								</div>

							</div>

							<div class="portlet-body">
						
						<div class="btn-group pull-left">    
								<div class="input-append">												
									<select class="small m-wrap" tabindex="1" id="key_search_parking">
															<option value="">请选择分类</option>
															<option value="parkname" @if(key=="parkname"){ selected }>停车场名</option>
															<option value="address" @if(key=="address"){ selected }>地址</option>
															<option value="owner" @if(key=="owner"){ selected }>联系人</option>
                                                            <option value="vender" @if(key=="vender"){ selected }>管理公司</option>
                                                            <option value="createPerson" @if(key=="createPerson" || key=="updatePerson"){ selected }>采集员</option>
									</select>
									<input class="m-wrap" size="10" type="text" placeholder="请输入关键字" value="@searchObj" id="value_search_parking" /><button class="btn green" id="searchParkingButton">搜索</button>
								</div>
						       </div>
						       

									<div class="btn-group pull-right">

										<button class="btn dropdown-toggle" data-toggle="dropdown">工具 <i class="icon-angle-down"></i>

										</button>

										<ul class="dropdown-menu pull-right">

											<li><a href="#" id="button_delete">删除数据</a></li>
											<li><a href="#" id="button_verify">审核通过</a></li>

										</ul>

									</div>

								</div>
								
								<div id="dialog_confirm" title="确认删除停车场信息吗?" class="hide">
									<p><span class="icon icon-warning-sign"></span>
										删除的停车场不可恢复，确认操作码?
									</p>
								</div>
								
								<div id="dialog_confirm_approve" title="审批通过?" class="hide">
									<p><span class="icon icon-warning-sign"></span>
										审批通过所选数据后,停车场数据将会发布到正式环境地图上,确认操作码?
									</p>
								</div>

								<table class="table table-striped table-bordered table-advance table-hover" id="sample_1">

									<thead>

										<tr>

											<th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>

											<th >缩略图</th>

											<th >停车场名</th>

											<th class="hidden-480">地址</th>
											
											<th class="hidden-480">联系人</th>
											
											<th class="hidden-480">管理公司</th>
											
											<th >采集/更新</th>

										</tr>

									</thead>

									<tbody>

                            @for(TParkInfo <- entityBean.getList) {
										<tr class="odd gradeX">
											<td ><input type="checkbox" class="checkboxes" value="@TParkInfo.parkId" /></td>
											<td>
											   @if(TParkInfo.imgUrlArray!=null&&TParkInfo.imgUrlArray.length>0){
											    <a class="ajaxify thumbnail"  href="javascript:;" post="/w/parking/@TParkInfo.parkId"  >
                                                     <img class="img-thumbnail" style="max-width:80px;max-height:120px" src="@TParkInfo.imgUrlArray.get(0).imgUrlHeader@TParkInfo.imgUrlArray.get(0).imgUrlPath" alt="">
                                               </a>
                                             }
                                            </td>
											<td ><a class="ajaxify"  href="javascript:;" post="/w/parking/@TParkInfo.parkId">@TParkInfo.parkname</a></td>
											<td class="hidden-480">@TParkInfo.address</td>
											<td class="hidden-480">@TParkInfo.owner</td>
											<td class="hidden-480">@TParkInfo.vender</td>
											<td ><span class="label label-success">@TParkInfo.createPerson</span>/<span class="label-warning">@TParkInfo.updatePerson</span>, @TParkInfo.createDate.format("yyyy-MM-dd HH:mm:ss")/@TParkInfo.updateDate.format("yyyy-MM-dd HH:mm:ss")</td>
										</tr>
                              }
										
									</tbody>

								</table>

					            <div id="pagination" class="pagination">
					               <ul>
						                @if(entityBean.hasPrev) {
						                    <li class="prev">
						                        <a class="ajaxify" href="javascript:;" post="/w/parking?p=@(entityBean.getPageIndex - 1)&k=@key&v=@searchObj">&larr; 上一页</a>
						                    </li>
						                } else {
						                    <li class="prev disabled">
						                        <a>&larr; 上一页</a>
						                    </li>
						                }
						                <li class="current">
						                    <a>显示 @entityBean.getDisplayXtoYofZ(" to "," of ")</a>
						                </li>
						                @if(entityBean.hasNext) {
						                    <li class="next">
						                        <a class="ajaxify"  href="javascript:;" post="/w/parking?p=@(entityBean.getPageIndex + 1)&k=@key&v=@searchObj">下一页 &rarr;</a>
						                    </li>
						                } else {
						                    <li class="next disabled">
						                        <a>下一页 &rarr;</a>
						                    </li>
						                }
					               </ul>
					             </div>
        
        
								<div class="clearfix">
									<div class="alert">
									<button class="close" data-dismiss="alert"></button>
									<strong>注意!</strong>正在采集的数据不会立即显示在地图上.
								</div>
							</div>

						</div>
	
	<script type="text/javascript" src="@routes.Assets.at("javascripts/select2.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dataTables.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/DT_bootstrap.js")"></script>		
	<script src="@routes.Assets.at("app/lib/parkinglist.js")" type="text/javascript" ></script>		
		
				