@(entityBean: com.avaje.ebean.Page[models.info.TParkInfoProd], 
currentPage: Integer, pageSize: Integer,orderBy: String,key:String,searchObj:String,status:Int)



             <!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->
						<!-- END BEGIN STYLE CUSTOMIZER --> 

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">
							签约停车场<small>显示生产环境地图停车场数据</small>
						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="/">主页</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="javascript:;">签约停车场</a></li>
							
						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				
				
				<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box grey" id="parkingprodcontent">

							<div class="portlet-title">

								<div class="caption"><i class="icon-map-marker"></i>签约停车场</div>

								<div class="tools">
									<a href="javascript:;" class="reload"></a>
								</div>

							</div>

							<div class="portlet-body">
                              <div class="btn-group pull-left">    
								<div class="input-append">		
								<select class="small m-wrap" tabindex="1" id="status_search_parkingprod">
															<option value="-1">状态</option>
															<option value="1" @if(status==1){ selected }>已开放</option>
															<option value="0" @if(status==0){ selected }>已关闭</option>
									</select>										
									<select class="small m-wrap" tabindex="1" id="key_search_parkingprod">
															<option value="">请选择分类</option>
															<option value="parkname" @if(key=="parkname"){ selected }>停车场名</option>
															<option value="address" @if(key=="address"){ selected }>地址</option>
															<option value="owner" @if(key=="owner"){ selected }>联系人</option>
                                                            <option value="vender" @if(key=="vender"){ selected }>管理公司</option>
                                                            <option value="createPerson" @if(key=="createPerson" || key=="updatePerson"){ selected }>采集人</option>
                                                            <option value="approvePerson" @if(key=="approvePerson"){ selected }>审核人</option>
									</select>
									<input class="m-wrap" size="10" type="text" placeholder="请输入关键字" value="@searchObj" id="value_search_parkingprod" /><button class="btn green" id="searchParkingProdButton">搜索</button>
								</div>
						       </div>
						       
                                <div class="btn-group pull-right">
										<button class="btn dropdown-toggle" data-toggle="dropdown">工具 <i class="icon-angle-down"></i>
										</button>
										<ul class="dropdown-menu pull-right">
										    <li><a href="#form_modal_qrimage" data-toggle="modal" id="button_qrimage">打印二维码标签</a></li>
										    <li><a href="javascript:;" id="button_openclose" p="@currentPage" s="@pageSize" o="@orderBy" k="@key" v="@searchObj" >打开/关闭停车场</a></li>
											<li><a href="javascript:;" id="button_retrieve">退回修改</a></li>
										</ul>
									</div>

								</div>

                                <div id="dialog_confirm_retrieve" title="确认退回地图数据吗?" class="hide">
									<p><span class="icon icon-warning-sign"></span>
										退回选择的地图数据后，正式环境将不会显示该标记，确认操作码?
									</p>
								</div>

								<table class="table table-striped table-bordered table-advance table-hover" id="sample_1_prod">

									<thead>

										<tr>

											<th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1_prod .checkboxes" /></th>

											<th>缩略图</th>

											<th >停车场名</th>
											
											<th >联系人</th>
											
											<th class="hidden-480">管理公司</th>
											<th class="hidden-480">审核人</th>

										</tr>

									</thead>

									<tbody>

                            @for(TParkInfo <- entityBean.getList) {
										<tr class="odd gradeX">
											<td ><input type="checkbox" class="checkboxes" value="@TParkInfo.parkId" /></td>
											<td>
											 @if(TParkInfo.imgUrlArray!=null&&TParkInfo.imgUrlArray.length>0){
											     <a class="ajaxify thumbnail"  href="javascript:;" post="/w/parkingprod/@TParkInfo.parkId" >
                                                     <img class="img-thumbnail" style="max-width:80px;max-height:120px" src="@TParkInfo.imgUrlArray.get(0).imgUrlHeader@TParkInfo.imgUrlArray.get(0).imgUrlPath" alt="">
                                               </a>
                                                }
											</td>
											<td ><a class="ajaxify"  href="javascript:;" post="/w/parkingprod/@TParkInfo.parkId">@TParkInfo.parkname</a>
											
											@if(TParkInfo.latLngArray!=null&&TParkInfo.latLngArray.length>0){
												@if(TParkInfo.latLngArray.get(0).isOpen==1){
												   <span class="label label-success">开放中</span>
												}else{
												  <span class="label label-important">已关闭</span>
												}
											}else{
											     <span class="label  label-warning">无采集坐标</span>
											}
											
											</td>
											<td >@TParkInfo.owner</td>
											<td class="hidden-480">@TParkInfo.vender</td>
											<td class="hidden-480">@TParkInfo.approvePerson / @if(TParkInfo.approveDate!=null) {@TParkInfo.approveDate.format("yyyy-MM-dd HH:mm:ss")}</td>
										</tr>
                              }
										
									</tbody>

								</table>

                        <div id="form_modal_qrimage" class="modal hide fade modal-vertical-centered" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">

									<div class="modal-body">
									   <div class="row-fluid" id="qrimagepreview">
						                           
								        </div>
								        
								        <div id="site_activities_loading">
										     <img src="/assets/image/loading.gif" alt="loading" />
									   </div>
 

									</div>

									<div class="modal-footer">
									     宽度:<input type="text" id="qrwidth" name="qrwidth" class="m-wrap" placeholder="" value="315">
									    高度: <input type="text" id="qrheight" name="qrheight" class="m-wrap" placeholder="" value="315">
										<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
										<button class="btn green btn-primary" id ="button_update_user_selected"data-dismiss="modal" onclick=" $('#qrimagepreview').jqprint();">打印</button>
									</div>
							</div>

					            <div id="pagination" class="pagination">
					               <ul>
						                @if(entityBean.hasPrev) {
						                    <li class="prev">
						                        <a  class="ajaxify" href="javascript:;" post="/w/parkingprod?p=@(entityBean.getPageIndex - 1)&k=@key&v=@searchObj&s=@status">&larr; 上一页</a>
						                    </li>
						                } else {
						                    <li class="prev disabled">
						                        <a>&larr; 上一页</a>
						                    </li>
						                }
						                <li class="current">
						                    <a>显示 @entityBean.getDisplayXtoYofZ(" to "," of ")</a>
						                </li>
						                @if(entityBean.hasNext) {
						                    <li class="next">
						                        <a class="ajaxify"  href="javascript:;" post="/w/parkingprod?p=@(entityBean.getPageIndex + 1)&k=@key&v=@searchObj&s=@status">下一页 &rarr;</a>
						                    </li>
						                } else {
						                    <li class="next disabled">
						                        <a>下一页 &rarr;</a>
						                    </li>
						                }
					               </ul>
					             </div>
        
        
								<div class="clearfix">

									<div class="alert">

									<button class="close" data-dismiss="alert"></button>

									<strong>注意!</strong>这里显示的生产环境正式数据，如需修改基本数据，请进入订单详情点击"调整"按钮，其他信息需要把数据回退到采集数据模式. 

								</div>
							</div>

						</div>
						

	<script src="@routes.Assets.at("app/jquery.jqprint-0.3.js")"></script> 					
	<script src="@routes.Assets.at("app/lib/parkinglistprod.js")"></script> 
				