@(entityBean: models.info.TParkInfo)


	<link href="@routes.Assets.at("stylesheets/jquery.fancybox.css")" rel="stylesheet" type="text/css"/>
	<link href="@routes.Assets.at("stylesheets/jquery.fileupload-ui.css")" rel="stylesheet" type="text/css"/>

	

	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/timepicker.css")" />


	
	

             <!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->
						<!-- END BEGIN STYLE CUSTOMIZER --> 

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">
							采集数据 <small>显示正在采集的数据</small>
						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="/">主页</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li><a class="ajaxify" href="/w/parking">正在采集的数据</a><i class="icon-angle-right"></i></li>
							
							<li><a href="javascript:;">编辑:@entityBean.parkname</a></li>
							
						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				
				<div class="tabbable tabbable-custom boxless">

							<ul class="nav nav-tabs">

								<li class="active"><a href="#tab_1" data-toggle="tab">数据</a></li>

								<li><a class="" href="#tab_2" data-toggle="tab">图片</a></li>
								
                                <li><a class="" href="#tab_3" data-toggle="tab">采集点</a></li>
							</ul>

							<div class="tab-content">
							
								<div class="tab-pane " id="tab_2">
				
										<!-- BEGIN GALLERY MANAGER PORTLET-->	
												<div class="portlet box grey">
													<div class="portlet-title">
														<div class="caption"><i class="icon-picture"></i>图片</div>
														<div class="tools">
															<a href="javascript:;" class="reload"></a>
														</div>
													</div>
						
													<div class="portlet-body">
													
														<!-- BEGIN GALLERY MANAGER PANEL-->
						
														<form id="fileupload" action="" method="POST" enctype="multipart/form-data">

							<!-- Redirect browsers with JavaScript disabled to the origin page -->

							<noscript><input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/"></noscript>

							<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

							<div class="row-fluid fileupload-buttonbar">

								<div class="span7">

									<!-- The fileinput-button span is used to style the file input field as button -->

									<span class="btn green fileinput-button">

									<i class="icon-plus icon-white"></i>

									<span>增加...</span>

									<input type="file" name="files[]" multiple>

									</span>

									<button type="submit" class="btn blue start">

									<i class="icon-upload icon-white"></i>

									<span>上传</span>

									</button>

									<button type="button" class="btn red delete">

									<i class="icon-trash icon-white"></i>

									<span>删除</span>

									</button>

									<input type="checkbox" class="toggle fileupload-toggle-checkbox">

								</div>

								<!-- The global progress information -->

								<div class="span5 fileupload-progress fade">

									<!-- The global progress bar -->

									<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">

										<div class="bar" style="width:0%;"></div>

									</div>

									<!-- The extended global progress information -->

									<div class="progress-extended">&nbsp;</div>

								</div>

							</div>

							<!-- The loading indicator is shown during file processing -->

							<div class="fileupload-loading"></div>

							<br>

							<!-- The table listing the files available for upload/download -->

							<table role="presentation" class="table table-striped">

								<tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>

							</table>

						</form>
														
						
														<!-- END GALLERY MANAGER PANEL-->
						
														<hr class="clearfix" />
						
														<!-- BEGIN GALLERY MANAGER LISTING-->
						
														<div class="row-fluid">
						
						                                   @for(TParkInfo_Img <- entityBean.imgUrlArray) {
															<div class="span3">
																<div class="item">
																	<a class="fancybox-button" data-rel="fancybox-button" title="Photo" href="@TParkInfo_Img.imgUrlHeader@TParkInfo_Img.imgUrlPath">
																		<div class="zoom">
																			<img src="@TParkInfo_Img.imgUrlHeader@TParkInfo_Img.imgUrlPath" alt="Photo" />                    
																			<div class="zoom-icon"></div>
																		</div>
																	</a>
						
																	<div class="details">
																		<a href="#" class="icon"><i class="icon-remove"></i></a>   
																	</div>
																</div>
															</div>
						                                 }
														</div>
														<!-- END GALLERY MANAGER LISTING-->
						
														<!-- BEGIN GALLERY MANAGER PAGINATION-->
						
						
														<!-- END GALLERY MANAGER PAGINATION-->
						
													</div>
						
												</div>
						
												<!-- END GALLERY MANAGER PORTLET-->
				      </div>
				
				<div class="tab-pane active" id="tab_1">
				
				<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box grey">

							<div class="portlet-title">

								<div class="caption"><i class="icon-table"></i>数据</div>

								<div class="tools">
									<a href="javascript:;" class="reload"></a>
								</div>

							</div>

							<div class="portlet-body form">
				
											<!-- BEGIN FORM-->


                       <form action="/w/parkingsave" method="POST" id="dataForm" class="horizontal-form">
                                          
                                          <div class="alert alert-error">
									          <button class="close" data-dismiss="alert"></button>
									          <label class="control-label" id="errorMessage"></label>
								           </div>
                                          
                       
											 <h3 class="form-section">基本信息</h3>
                                               <input type="hidden" id="parkId" name="parkId"  value="@entityBean.parkId">
												<div class="row-fluid">

													<div class="span6 ">

														<div class="control-group">

															<label class="control-label" for="firstName">管理公司</label>

															<div class="controls">

																<input type="text" id="vender" name="vender" class="m-wrap span12" placeholder="" value="@entityBean.vender">

																<span class="help-block">停车场物业管理公司</span>

															</div>

														</div>

													</div>

													<!--/span-->

													<div class="span6 ">

														<div class="control-group">

															<label class="control-label" for="lastName">联系人</label>

															<div class="controls">

																<input type="text" id="owner" name="owner" class="m-wrap span12" placeholder="" value="@entityBean.owner">

																<span class="help-block">负责人</span>

															</div>

														</div>

													</div>

													<!--/span-->

												</div>

												<!--/row-->

												<div class="row-fluid">

													<div class="span6 ">

														<div class="control-group">

															<label class="control-label" for="contactphone">联系电话</label>

															<div class="controls">

																<input type="text" id="ownerPhone" name ="ownerPhone" class="m-wrap span12" placeholder="" value="@entityBean.ownerPhone">

																<span class="help-block">手机号码</span>

															</div>

														</div>

													</div>

													<!--/span-->

													<div class="span6 ">

														<div class="control-group">

															<label class="control-label" >停车场名称</label>

															<div class="controls">

																<input type="text" id="parkname" name="parkname" class="m-wrap span12" placeholder="" value="@entityBean.parkname">

															</div>

														</div>

													</div>

													<!--/span-->

												</div>

												<!--/row-->        

												<div class="row-fluid">

													<div class="span6 ">

														<div class="control-group">

															<label class="control-label" >停车场地址</label>

															<div class="controls">

																<input type="text" id="address" name="address" class="m-wrap span12" placeholder="" value="@entityBean.address">

															</div>

														</div>

													</div>

								
												</div>

												<!--/row--> 

												<h3 class="form-section">计费标准</h3>

												<div class="row-fluid">

													<div class="span12 ">

													<div class="control-group">
														<div class="controls">
				                                          <div class="span6 ">
				                                                <div class="control-group">
	                                                                <label class="radio line">
															             <input type="radio" name="feeType" id="feeType" value="@entityBean.feeType" @if(entityBean.feeType==1){checked}/>
															                                                       分段收费
															             </label>
																		<div class="controls">
																			<select class="medium  m-wrap" data-placeholder="请选择时间段" tabindex="1" id="feeTypeSecInScopeHours" name="feeTypeSecInScopeHours">
																				<option value="">请选择...</option>	
																				<option value="1" @if(entityBean.feeTypeSecInScopeHours==1){selected}>一小时以内</option>
																				<option value="2" @if(entityBean.feeTypeSecInScopeHours==2){selected}>二小时以内</option>
																				<option value="3" @if(entityBean.feeTypeSecInScopeHours==3){selected}>三小时以内</option>
																				<option value="4" @if(entityBean.feeTypeSecInScopeHours==4){selected}>四小时以内</option>
																			</select>
																			<div class="controls">
																	            <input type="text" id="feeTypeSecInScopeHourMoney" class="m-wrap span12" placeholder="元" value="@entityBean.feeTypeSecInScopeHourMoney">
																             </div>
																		</div>
									                             </div>
									                             
				                                              <div class="control-group">
																  <label class="control-label" >超过时间</label>
																  <div class="controls">
																	<input type="text" id="feeTypeSecOutScopeHourMoney" class="m-wrap span12"  placeholder="元/小时" value="@entityBean.feeTypeSecOutScopeHourMoney">
																  </div>
														      </div>      
														</div>
														
                                                 </div>
                                                 
									         </div>
														

											</div>

										</div>
										
										
										                                
                                                 
                                        <div class="row-fluid">
											<div class="span6 ">
											  <div class="control-group">  													
												<div class="controls">	
													<label class="radio line">
													<input type="radio" name="feeType" id="feeType" value="@entityBean.feeType" @if(entityBean.feeType!=1){checked}/>
														计次收费
													</label>  
												</div>

					                                 <div class="control-group">
														<div class="controls">
																<input type="text" id="feeTypefixedHourMoney" class="m-wrap span12" placeholder="元/次" value="@entityBean.feeTypefixedHourMoney">
														</div>
													</div>      
											   </div>
											</div>
										</div>

												<div class="row-fluid">

													<div class="span6 ">

														<div class="control-group">
															<label class="checkbox"><input type="checkbox" value="" />全天优惠</label>
															<div class="controls">
																<input type="text"  id="discountHourAlldayMoney" class="m-wrap span12" placeholder="元/天" value="@entityBean.discountHourAlldayMoney"> 
															</div>
														</div>

													</div>

													<!--/span-->

												</div>

												<!--/row-->           

												<div class="row-fluid">

													<div class="span6 ">

														<div class="control-group">

															<label class="checkbox"><input type="checkbox" value="" />优惠时段</label>

															<div class="controls">
															    <div class="input-append bootstrap-timepicker-component">
												                        <input class="m-wrap m-ctrl-small small timepicker-24" id="discountSecStartHour" type="text" value="@if(entityBean.discountSecStartHour!=null){entityBean.discountSecStartHour.format("HH:mm:ss")}"/>
												                        <span class="add-on"><i class="icon-time"></i></span>
											                     </div>
											                     
															    <div class="input-append bootstrap-timepicker-component">
												                        <input class="m-wrap m-ctrl-small small timepicker-24" id="discountSecEndHour" type="text" value="@if(entityBean.discountSecEndHour!=null){entityBean.discountSecEndHour.format("HH:mm:ss")}"/>
												                        <span class="add-on"><i class="icon-time"></i></span>
											                     </div>
											                     
																<input type="text" class="m-wrap span12" id="discountSecHourMoney" placeholder="元/小时" value="@entityBean.discountSecHourMoney"> 
															</div>

														</div>

													</div>

													<!--/span-->

												</div>

												<div class="form-actions">
													<button type="button" id="submitbutton" class="btn blue"><i class="icon-ok"></i>保存</button>
													<button type="button" class="btn">取消</button>
												</div>

				                    </form>

											<!-- END FORM--> 
							</div>
							
							 
						</div>
						
						
             </div>
             
             <div class="tab-pane " id="tab_3">
				
				<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box grey">

							<div class="portlet-title">

								<div class="caption"><i class="icon-map-marker"></i>采集点</div>

								<div class="tools">
									<a href="javascript:;" class="reload"></a>
								</div>

							</div>

							<div class="portlet-body">
						
						        <img src="http://api.map.baidu.com/staticimage?center=116.403874,39.914889&width=400&height=300&zoom=11&markers=116.288891,40.004261|116.487812,40.017524|116.525756,39.967111|116.536105,39.872374|116.442968,39.797022|116.270494,39.851993|116.275093,39.935251|116.383177,39.923743&markerStyles=l,A|m,B|l,C|l,D|m,E|,|l,G|m,H" />

								

							</div>


						</div>
             </div>
             
        </div>
        
           
             
    </div>
   
   
    <script src="@routes.Assets.at("javascripts/app.js")"></script> 
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-timepicker.js")"></script>
	<script src="@routes.Assets.at("javascripts/form-components.js")" type="text/javascript" ></script> 
	<script src="@routes.Assets.at("javascripts/jquery.form.js")" type="text/javascript" ></script>
	<script>

		jQuery(document).ready(function() {    

		   App.init();
		  // FormComponents.init();
		   
		   $('#submitbutton').click(function(){
			   var options = {
		       	        success: function (data) {
		       	           alert("data:"+data);
		       	        }
		       	    };

				   $("#dataForm").ajaxSubmit(options);
		   });
		   
		   

		});

	</script>