@(entityBean: models.info.TOptions, entityList: List[models.info.Tsmsmodel])
    <link href="@routes.Assets.at("stylesheets/multi-select-metro.css")" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-toggle-buttons.css")" />
<!-- BEGIN PAGE HEADER-->
<div class="row-fluid" id="parkingtitle">

	<div class="span12">

		<!-- BEGIN STYLE CUSTOMIZER -->
		<!-- END BEGIN STYLE CUSTOMIZER -->

		<!-- BEGIN PAGE TITLE & BREADCRUMB-->

		<h3 class="page-title">
			短信推送<small>对smssend表的所有列进行短信推送</small>
		</h3>

		<ul class="breadcrumb">

			<li><i class="icon-home"></i> <a href="/">主页</a> <i
				class="icon-angle-right"></i></li>

			<li><a href="javascript:;">短信推送</a></li>

		</ul>

		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="portlet box grey" id="userlist">

	<div class="portlet-title">

		<div class="caption">
			<i class="icon-mobile-phone"></i>对指定用户进行短信推送
		</div>

		<div class="tools">
			<a href="javascript:;" class="reload"></a>
		</div>

	</div>

	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form id="dataFormOptions"
			class="horizontal-form">
			<div id="remotemessage"></div>
			<div class="row-fluid">
				<div class="span12">
				
					<div class="control-group">

						<label class="control-label"></label>

					</div>
				</div>
				<!--/span-->
         <div >			
		  </div>
			</div>
			
			
						<div class="controls">
                            <label class="control-label" for="firstName">添加模板</label>
							<textarea class="span6 m-wrap" rows="10" id="model_context">
																</textarea>
						</div>
						  
								<div class="input-append">											
									<input class="m-wrap" size="10" type="text" placeholder="请输入模板id" id="model_id" /><button  type="button" class="btn green" id="addmodel">添加新模板</button>
								</div>
							
           <div class="control-group">
           <label class="control-label" for="firstName">短信推送</label>
              <div class="controls">
				 <div class="success-toggle-button">
					   <input type="checkbox" id="issendsmsCheckbox" name="isopenCheckbox" class="toggle" @if(entityBean.textObject=="1"){ checked }/>
				 </div>
															
		</div>
		</div>
		  <div class="control-group">
	 <label class="control-label" for="firstName">短信模板</label>
      @for(entity <- entityList) {
    <input type="radio" name="model" value="@entity.cotent" />
      模板编号: @entity.cotent
      模板内容: @entity.descripe<br>
      }

</div>
												

			<div class="form-actions">
				<button type="button" id="submitOptionsbutton" class="btn blue">
					<i class="icon-ok"></i>推送
				</button>
				<button type="button" class="btn">取消</button>
			</div>
					
		</form>

		<!-- END FORM-->
	</div>




</div>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/select2.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/clockface.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.inputmask.bundle.min.js")"></script>   
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.input-ip-address-control-1.0.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.toggle.buttons.js")"></script>
	<script src="@routes.Assets.at("javascripts/jquery.multi-select.js")" src="media/js/"></script>	
	<script src="@routes.Assets.at("javascripts/jquery.form.js")" type="text/javascript" ></script>
<script src="@routes.Assets.at("app/lib/smspush.js")" type="text/javascript"></script>