@(entityBean: models.info.TVersion)
             <!-- BEGIN PAGE HEADER-->
				<div class="row-fluid" id="parkingtitle">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->
						<!-- END BEGIN STYLE CUSTOMIZER --> 

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">
							移动端版本 <small>版本发布,版本消息弹出和升级地址</small>
						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="/">主页</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="javascript:;">版本发布</a></li>
							
						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->

				<div class="portlet box grey" id="userlist">

							<div class="portlet-title">

								<div class="caption"><i class="icon-mobile-phone"></i>移动端手机版本发布</div>

								<div class="tools">
									<a href="javascript:;" class="reload"></a>
								</div>

							</div>

                   <div class="portlet-body form">
				
						<!-- BEGIN FORM-->
                       <form action="/w/version/submit" method="POST" id="dataFormVersion" class="horizontal-form">
                                   <div id="remotemessage"></div>
                                    <input type="hidden" id="versionId" name="versionId"  value="@entityBean.versionId">
                                    <input type="hidden" id="forceUpdate" name="forceUpdate"  value="@entityBean.forceUpdate">
												<div class="row-fluid">
													<div class="span6 ">
														<div class="control-group">
															<label class="control-label" for="version">版本号</label>
															<div class="controls">
																<input type="text" id="version" name="version" class="m-wrap span12" placeholder="" value="@entityBean.version">
															    <p class="help-block">版本号应该用数字表示。当客户端的版本号小于这里的版本号，会弹出提示框让用户执行更新操作</p>
															</div>
														</div>
													</div>

													<!--/span-->

												</div>

												<!--/row-->

												<div class="row-fluid">


                                                      <div class="span6 ">

														<div class="control-group">

															<label class="control-label" for="updateUrl">安装文件地址</label>

															<div class="controls">

																<input type="text" id="updateUrl" name="updateUrl" class="m-wrap span12" placeholder="" value="@entityBean.updateUrl">
															    <p class="help-block">用户端在弹出的信息中点击更新按钮后，将跳转到该地址</p>
															</div>
														</div>
													</div>
													<!--/span-->

												</div>
												
												
												<div class="row-fluid">
                                                    <div class="span6 ">
														<div class="control-group">
															<label class="control-label" for="contactphone">信息提示内容</label>
															<div class="controls">
																<input type="text" id="updatesContent" name ="updatesContent" class="m-wrap span12" placeholder="" value="@entityBean.updatesContent">
															</div>
															<p class="help-block">在用户端弹出的提示内容，如果为空将显示默认内容</p>
														</div>
													</div>
													<!--/span-->

												</div>
												
													

												<!--/row-->        

												<div class="row-fluid">
													<div class="span6 ">
						                                     <div class="control-group">
																<label class="control-label">是否强制更新</label>
																<div class="controls">
						
																	<label class="radio">
																	<input type="radio" id="forceUpdateTs" name="forceGroup" value="@entityBean.forceUpdate" @if(entityBean.forceUpdate==0){checked}/>
																	     提示更新
																	</label>
						
																	<label class="radio">
																	<input type="radio" id="forceUpdateQz" name="forceGroup" value="@entityBean.forceUpdate" @if(entityBean.forceUpdate==1){checked} />
																	强制更新
																	</label>  
																	<p class="help-block">"提示更新"将在用户端弹出提示信息，用户可以关闭不更新。"强制更新"会弹出提示信息，强制用户更新</p>
																	
																</div>
															</div>
													</div>

								
												</div>

												<!--/row--> 


												<div class="form-actions">
													<button type="button" id="submitversionbutton" class="btn blue"><i class="icon-ok"></i>提交</button>
													<button type="button" class="btn">取消</button>
												</div>

				                    </form>

											<!-- END FORM--> 
							</div>
							


					  
						</div>
						
   <script src="@routes.Assets.at("javascripts/jquery.form.js")" type="text/javascript" ></script>
	<script src="@routes.Assets.at("app/lib/version.js")" type="text/javascript" ></script>